{% extends "chavakali/base.html" %}
{% block title %}
<title>Outreach Ministry</title>
{% endblock %}

{% block body %}
<body>
<style type="text/css">
			.paypal_btn{
            display: inline-block;
            font-family: inherit;
            font-size: 15px;
            color: #fff;
            text-align: center;
            padding: 10px 10px;
            margin: 0;
            background:#0000FF ;
            border: 0;
            cursor: pointer;
            outline: primary;
            }
            .paypal_btn:hover{ background: #e05c04; }

		</style>


  <!-- Navbar (sit on top) -->

  <nav class="navbar navbar-expand-md navbar-dark" style="background-color:#383645;">
    <button class="navbar-toggler" type="button" data-target="#navbarTogglerDemo03" data-toggle="collapse">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link text-light" href="{% url 'home'%}">WHAT WE DO</a>
            </li>

            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle text-light" href="#" data-toggle="dropdown">MINISTRIES</a>
                <div class="dropdown-menu">
                    <a class="dropdown-item" href="{% url 'mercy' %}">Mercy Ministry</a>
                    <a class="dropdown-item" href="{% url 'outreach' %}">Outreach Ministry</a>
                    <a class="dropdown-item" href="{% url 'men' %}">Men Ministry</a>
                    <a class="dropdown-item" href="{% url 'women' %}">Women Ministry</a>
                    <a class="dropdown-item" href="{% url 'couples' %}">Couples Ministry</a>
                    <a class="dropdown-item" href="{% url 'youths' %}">Youth Ministry</a>
                    <a class="dropdown-item" href="{% url 'teens' %}">Teens Ministry</a>
                    <a class="dropdown-item" href="{% url 'sundayschool' %}">Sunday School Ministry</a>
                </div>
            <li class="nav-item">
                <a class="nav-link text-light" href ="{% url 'wwn'%}">WOMAN WEEP NOT MINISTRIES</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-light" href ="{% url 'projects'%}">PROJECTS</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-light" href ="{% url 'founder'%}">OUR FOUNDER</a>
            </li>
        </ul>

        <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top"><i class="fas fa-band-aid"></i>
                <input type="hidden" name="cmd" value="_s-xclick" /><i class="fas fa-band-aid"></i>
                <input type="hidden" name="hosted_button_id" value="3B9CM4PCW34S2" /><i class="fas fa-band-aid"></i>
                <input type="submit" value="GIVE" type="button" name="submit" title="Support Our Ministry Work!" class="paypal_btn">
                <img alt="" border="0" src="https://www.paypal.com/en_KE/i/scr/pixel.gif" width="1" height="1" /><i class="fas fa-band-aid"></i>
                </form>
    </div>

  </nav>
</div>

<div class="jumbotron" style="background-color:#383645">
  <h1 class="display-4 text-light"><b>Joy Celebration Centre Chavakali.</b></h1></br>
  <p class="lead display-5 text-light"><p5>Outreach Ministry.</p5></p>
  <hr class="my-1">
  <p5 class="text-light">The outreach department was established from the onset of the church. Actually we can correctly say the church was born out of outreach and that outreach continues to be part of the church.<br><br> <b> Samuel Kevogoh - Coordinator</b>

  </p5>
</div>


<div class = "jumbotron id=divTeensfooter" style="background-color:#383645">
    <h3 class="display-7 text-light">PROGRAMS</h3></br>
<div class="card-deck">
  <div class="card bg-info" style = "background-color:#4B004B;">
    <div class="card-body">

      <h5 class="card-title">Church Planting </h5>
        <p class="card-text text-light">Every year in conjunction with other Agape Fellowship Church Branches, JCC participates in planting at least two churches in remote places where churches have not existed before or where there's great need for a spiritual church. Last year churches were planted at Solio Ranch in Nyeri as well as Shinyalu in Kakamega County. This year a church has been planted at Kapcherop in Trans Nzoia County. Plans are underway to construct a church in Shikusa Prison, Kakamega.</br></br>


    </div>
  </div>
  <div class="card mb-3" style = "background-color:#5B2C6F;">
    <div class="card-body">
      <h5 class="card-title text-light">Acts Of Mercy</h5>
      <p class="card-text text-light"> The Church has also participated in acts of mercy through construction of homes for needy people. Last year, the church, through Bukulunya Fellowship, constructed a house for a member after it was discovered he was living in dilapidated conditions. Before that, through Junction Fellowship, the church had helped renovate a house of a needy widow near Chavakali Junction.
Through the Mercy Ministry, the church has also donated food stuffs and clothing to the needy during Christmas day. The community is also welcomed for special Christmas parties at the church as a way of sharing the Gospel of Christ with love.
</p>

    </div>
  </div>
  <div class="card bg-dark" style = "background-color:#4B004B;">
    <div class="card-body">
      <h5 class="card-title text-light">School Ministry </h5>
      <p class="card-text text-light">The church has embarked on expanded efforts of reaching high school students with the Gospel of truth. Since its inception, the Outreach Ministry has been reaching an average of one school per month and an average of two schools per month in first term and second term of the school program respectively. In 2019 alone, the ministry has managed to spread the gospel to eleven schools and more than 500 students have given their lives to Christ.
        </p>
    </div>
  </div>
    <div class="card bg-danger" style = "background-color:#4B004B;">
    <div class="card-body">

      <h5 class="card-title">Prison Ministry</h5>
        <p class="card-text text-light">The church has also embarked on spreading the good news in the prison. This is in a bid to ensure that even the prisoners get to hear the Good News. Plans are underway to undertake a Weekend Challenge in one of the prisons in the course of this year.

    </div>
  </div>
    <div class="card bg-success" style = "background-color:#4B004B;">
    <div class="card-body">
      <h5 class="card-title text-light">MEGA crusades & Door to Door evangelism</h5>
      <p class="card-text text-light">The church has carried out two MEGA crusades that have seen the gospel being preached concurrently through crusades and promotional vehicles. This has had a major impact in Vihiga County and beyond. Door to door evangelism has helped to bring the Gospel at the door steps of the people who may never bother looking for a place of worship.
        </p>

    </div>
  </div>
</div>
</div>
</div>
<div class ="jumbotron" style ="background-color:#383645">
   <footer>
            <section class="bg-4B004B text-light">
                  <div class="container">
                        <div class="row">
                              <div class="col-lg-4">
                                    <h2>JCC Chavakali-Kenya</h2>
                                    <p class="u-my-40">
                                          An Oasis Of God's love and Care<br>
                                        Gving Hope to the Hopeless<br><br>
                                        @2019 Joy Celebration Centre<br>
                                        All Rights Reserved
                                    </p>
                              </div>
                              <div class="col-lg-2 ml-auto text-light" >
                                    <h4 class ="text-light">Useful Links</h4>
                                    <div class="u-h-4 u-w-50 bg-#4B004B mt-3 u-mb-40 text-light">
                                    <ul class="list-unstyled u-lh-2 text-light">
                                         <a href="{% url 'events' %} text-light" style="color:white" id="events">Events</a><br>
                                         <a href="{% url 'youths' %} text-light" style="color:white" >Youths</a><br>
                                         <a href="{% url 'teens' %} text-light" style="color:white" >Teenagers</a><br>
                                         <a href="{% url 'sundayschool' %} text-light" style="color:white" >Sunday School</a>


                                    </ul>


                              </div>
                              </div>
                              <div class="col-lg-3 ml-auto">
                                    <h4>Contact Info</h4>
                                    <div class="u-h-4 u-w-50 bg-white rounded mt-3 u-mb-40"></div>
                                    <ul class="list-unstyled">
                                          <li class="mb-2">
                                                <span class="icon icon-Phone2 text-primary mr-2"></span> +254722396050
                                          </li>
                                          <li class="mb-2">
                                                <span class="icon icon-Mail text-primary mr-2"></span>agapechavakali@gmail.com
                                          </li>
                                          <li class="mb-2">
                                                <span class="icon icon-Pointer text-primary mr-2"></span> Chavakali, Kenya
                                          </li>
                                    </ul>
                                    <ul class="list-inline social mt-4">
                                          <a href="https://www.facebook.com/JCC-Chavakali-Agape-Fellowship-223645461127111/" class="fa fa-facebook"></a>
                                            <a href="https://twitter.com/jcc_chavakali" class="fa fa-twitter"></a>
                                          <a href="https://www.youtube.com/channel/UC0ECR7uZJXs65Ndeio9HKQA?view_as=subscriber" class="fa fa-youtube"></a>
                                        <a href="https://www.instagram.com/jcc_chavakali/" style="color:white" class="fa fa-instagram"></a>
                                    </ul>
                              </div>
                        </div>
                  </div>
            </section>
            <div class="container text-center p-4 text-light">
                  <p class="mb-0">
                        Build with Enam Technology Solutions
                  </p>
            </div>
      </footer>

</div>
<style type="text/css">
    /* Style all font awesome icons */
.fa {
  padding: 20px;
  font-size: 30px;
  width: 50px;
  text-align: center;
  text-decoration: none;

}

/* Add a hover effect if you want */
.fa:hover {
  opacity: 0.9;
  color : green;
}

/* Set a specific color for each brand */

/* Facebook */
.fa-facebook {
  color: white;
}

/* Twitter */
.fa-twitter {
  color: white;
}

/* Youtube */
.fa-youtube {
  color: white;
}

/* Whatsapp */
.fa-whatsapp {
  color: white;
}
</style>
</body>
{% endblock %}